@font-face {
  font-family: WorkSans;
  src: local(WorkSans-Light),
    url(../public/t/WorkSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: WorkSans;
  src: local(WorkSans-Regular),
    url(../public/t/WorkSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: WorkSans;
  src: local(WorkSans-Bold),
    url(../public/t/WorkSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

button {
  border: 0px;
  background-color:#f0f2f5;
  color: #000;
}

button svg:hover {
  color: #f0f2f5;
}

button:hover {
  background-color: #000;
  color: #f0f2f5;
}

h1 {
  font-family: WorkSans;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

h2 {
  font-family: WorkSans;
  font-size: 53.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

h3 {
  font-family: WorkSans;
  font-size: 43.1px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

h4 {
  font-family: WorkSans;
  font-size: 34.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

h5 {
  font-family: WorkSans;
  font-size: 27.6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

h6 {
  font-family: WorkSans;
  font-size: 22.1px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

body {
  font-family: WorkSans;
  font-size: 17.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

small {
  font-family: WorkSans;
  font-size: 14.1px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.note-text {
  font-family: WorkSans;
  font-size: 12.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

caption {
  font-family: WorkSans;
  font-size: 11.3px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.micro {
  font-family: WorkSans;
  font-size: 10.4px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.31px;
}
