.Menu {
    grid-area: Navigation;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    padding: 0px;
    max-width: 44px;
    height: 100vh;
    background-color: white;
    border-left: 1px solid black;
  }